management:
  context-path: /management
  security:
    enabled: false

server:
  context-path: /
  session:
    timeout: 3600
  port: 25110
  use-forward-headers: true
  tomcat:
    protocolHeader: x-forwarded-proto
    portHeader: x-forwarded-port
    remoteIpHeader: x-forwarded-for

spring:
  pid:
    file: backend-birthdays.pid
  application:
    name: backend-birthdays

  datasource:
    url: jdbc:postgresql://{{ main_ip}}:5432/birthdays
    username: birthdays
    password: birthdays
    driver-class-name: org.postgresql.Driver

    tomcat:
      max-active: 5
      max-idle: 5
      min-idle: 2
      initial-size: 2
      max-wait: 30000
      validation-query: SELECT 1
      test-on-connect: true
      test-on-borrow: false
      test-while-idle: true
      time-between-eviction-runs-millis: 5000
      min-evictable-idle-time-millis: 300000

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
        generate_statistics: false
        hbm2ddl.auto: validate
        show_sql: true
    open-in-view: false

liquibase:
  change-log: file:etc/liquidbase/changelog/changelog.sql
  check-change-log-location: true
  enabled: true

life:
  jwt:
    enabled: true
    provider:
      enabled: true
    manager:
      enabled: true
    keyStore:
      keys:
        1:
          publicKey: |
            -----BEGIN PUBLIC KEY-----
            305c300d06092a864886f70d0101010500034b0030480241009becd81f8ec13
            b50fd01cc121399da311ba30684214b41ea92e198cfcb23441fa7a7b074a375
            9ef2b794f159071cf7ec9d10c5cd9ac8e167f950634e6f4feca90203010001
            -----END PUBLIC KEY-----
          privateKey: |
            -----BEGIN RSA PRIVATE KEY-----
            30820154020100300d06092a864886f70d01010105000482013e3082013a0201
            000241009becd81f8ec13b50fd01cc121399da311ba30684214b41ea92e198cf
            cb23441fa7a7b074a3759ef2b794f159071cf7ec9d10c5cd9ac8e167f950634e
            6f4feca9020301000102401b64431f601bb008ed397899205a61cb48b89df76e
            45e3418b26188b407b64870788845add4164d60b9f2b1083416443210e425f54
            13463a14fac0ac1aeb8301022100f2f6c106ac44476e450c84916c0d646c5a1e
            f96ae50b9fa79193588652756c61022100a44a907f29986cb87253fa51372e18
            25d80c78c4230f19904e03eff7f36a2549022100ce0922b79dee6904c1d953b2
            5e871cda25b28ea06f8be3e01e3b6d9ebade890102200ed49c4e9e56a019d658
            36547682b6b353d96c5d683cc8b5fa14e8e89d148be1022029eb4fe5cd6797fa
            aecb99cdaed9fe235301589efa168324a00639b3b523a19f
            -----END RSA PRIVATE KEY-----
      default-key-id: 1
      default-expiry: 10
